@import './abstracts.scss' ;

*,*::before,*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: "Noto Sans TC", sans-serif;
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  line-height: 1.5;
  height: 100%;
}

h1 {
  font-size: 6.8rem;
}
h2 {
  font-size: 4.2rem;
}
h3 {
  font-size: 2.8rem;
}
h4 {
  font-size: 2.4rem;
}
h5 {
  font-size: 1.8rem;
}

p {
  font-size: 1.4rem;
  &.bold {
    font-weight: bold;
  }
}

.number {
  font-family: "Montserrat", sans-serif;
}

ul {
  list-style: none;
}

button {
  color: $color-gray-100;
  background-color: $color-brand;
  font-size: 1.6rem;
  padding: .8rem 2.4rem;
  border-radius: 10rem;
  border: none;
  cursor: pointer;
  transition: all .2s ease-in;

  &:hover {
    background-color: $color-brand-deep
  }
}

img {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
}

video {
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.video-container {
  width: 100%;
  padding-top: 56.25%;
  position: relative;
  video {
    position: absolute;
    top: 0;
    left: 0;
  }
}

// * custom vue-multselect styles
.multi-selector {

  .multiselect__option--selected {
    background-color: $color-brand;
  }

  .multiselect__option--highlight {
    background: $color-brand;
    color: white;
  }

  .multiselect__option--highlight:after {
    // content: attr(data-select);
    // background: $color-brand;
    // color: white;
    content: '';
  }
}

// * data-picker
.mx-datepicker {
  width: 21rem !important;
}

// * custom scrollbar
div::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.9);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.9);
  border-radius: 10px;
  background-color: #cccccc;
}

div::-webkit-scrollbar {
  width: 12px;
}

div::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: $color-brand;
  background-image: -webkit-linear-gradient(
    90deg,
    transparent,
    rgba(0, 0, 0, 0.4) 50%,
    transparent,
    transparent
  );
}